$yellow: #fff;


.jumbotron {
  background-color: $yellow;
  color: #fff;
  margin-top: 50px; }

.area-footer {
  background-color: $yellow;
  margin-top: 20px;
  padding: 10px 10px 0px 10px;
  height: 100%; }

.area-footer a {
  color: #000;
  text-decoration: none;
  background-color: transparent; }

.card-box-1 {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  width: 100%;
  border-bottom: 0px;
  border-top: 0px; }

.card-box {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  width: 100%;
  border-bottom: 0px; }

.btn-reserva {
  border-radius: 0px;
  width: 100%;
  height: 100%; }

.footer-address-icon {
  padding-right: 5px; }

.submit-btn {
  margin-left: 5px;
  margin-top: 5px; }

.img-fluid {
  padding-left: 7px;
  margin-bottom: 12px; }

.tab-content {
  padding-top: 15px; }

.img-boxs {
  height: 50px;
  width: 50px; }

.btn-button {
  color: #000;
  background-color: transparent; }

.btn-lohan {
  background-color: #93c057;
  border-color: #000;
  color: #fff; }



.btn-danger {
  
  animation-delay: 0.1s;
 
 }

.btn-dark {
  
  animation-delay: 0.5s;
}

.btn-primary {
  
  animation-delay: 0.9s;

}

.btn-reserva {
animation-duration: 3s;
  animation-delay: 5s;
}
